{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBF4Sy_5-aDmkF7nggkuhYmwF49JhhLdCk&part=snippet&q=basbdh",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"UBAOiXjvY0CZ7Ub9tJDO9bUtsU8\",\n  \"regionCode\": \"US\",\n  \"pageInfo\": {\n    \"totalResults\": 0,\n    \"resultsPerPage\": 0\n  },\n  \"items\": []\n}\n"
        }
      },
      "recorded_at": "Tue, 11 Jun 2024 21:22:50 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.pexels.com/v1/search?query=basbdh",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "GpkBDpCyDjJIRnfD2fglFgtdwj2KKs8ncWCrWBbIlgGip02YsUIyiFNQ"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"5188ac46f9d89b65c048e79e02f554ce\""
          ],
          "X-Ratelimit-Limit": [
            "25000"
          ],
          "X-Ratelimit-Remaining": [
            "24993"
          ],
          "X-Ratelimit-Reset": [
            "1720730239"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"per_page\":15,\"photos\":[],\"total_results\":0}"
        }
      },
      "recorded_at": "Tue, 11 Jun 2024 21:22:51 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}