{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBF4Sy_5-aDmkF7nggkuhYmwF49JhhLdCk&part=snippet&q=italy",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"4wf07h5sV5TlDh4aYMkx3TTPdhk\",\n  \"nextPageToken\": \"CAUQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\": {\n    \"totalResults\": 67,\n    \"resultsPerPage\": 5\n  },\n  \"items\": [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"xFIsZPGenJc5hO9kCKiAxq40yUs\",\n      \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"DD4wjwaFU-U\"\n      },\n      \"snippet\": {\n        \"publishedAt\": \"2021-05-07T03:20:53Z\",\n        \"channelId\": \"UCluQ5yInbeAkkeCndNnUhpw\",\n        \"title\": \"A Super Quick History of Italy\",\n        \"description\": \"Sources: \\\"A Brief History of Italy\\\" (2018) by Jeremy Black. Robinson Publishing, London. \\\"The Pursuit of Italy: A History of its ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/DD4wjwaFU-U/default.jpg\",\n            \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\": {\n            \"url\": \"https://i.ytimg.com/vi/DD4wjwaFU-U/mqdefault.jpg\",\n            \"width\": 320,\n            \"height\": 180\n          },\n          \"high\": {\n            \"url\": \"https://i.ytimg.com/vi/DD4wjwaFU-U/hqdefault.jpg\",\n            \"width\": 480,\n            \"height\": 360\n          }\n        },\n        \"channelTitle\": \"Mr History\",\n        \"liveBroadcastContent\": \"none\",\n        \"publishTime\": \"2021-05-07T03:20:53Z\"\n      }\n    },\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"PYsOMebSVzjO5cskUsJ4rzQXvTI\",\n      \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"PypS-ffoL-U\"\n      },\n      \"snippet\": {\n        \"publishedAt\": \"2023-04-26T11:58:34Z\",\n        \"channelId\": \"UCluQ5yInbeAkkeCndNnUhpw\",\n        \"title\": \"A Super Quick History of San Marino\",\n        \"description\": \"Pictures Requiring Attribution: Szede[...]
    {
      "request": {
        "method": "get",
        "uri": "https://api.pexels.com/v1/search?query=italy",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "GpkBDpCyDjJIRnfD2fglFgtdwj2KKs8ncWCrWBbIlgGip02YsUIyiFNQ"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"b6d8412cc0ba62e407a8b79d3dc2ad01\""
          ],
          "X-Ratelimit-Limit": [
            "25000"
          ],
          "X-Ratelimit-Remaining": [
            "24994"
          ],
          "X-Ratelimit-Reset": [
            "1720730239"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"per_page\":15,\"photos\":[{\"id\":4046386,\"width\":6240,\"height\":4160,\"url\":\"https://www.pexels.com/photo/low-angle-shot-of-man-sculpture-4046386/\",\"photographer\":\"Fabio Mariano\",\"photographer_url\":\"https://www.pexels.com/@fabio-mariano-2406887\",\"photographer_id\":2406887,\"avg_color\":\"#514A42\",\"src\":{\"original\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png\",\"large2x\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026dpr=2\\u0026h=650\\u0026w=940\",\"large\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026h=650\\u0026w=940\",\"medium\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026h=350\",\"small\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026h=130\",\"portrait\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=1200\\u0026w=800\",\"landscape\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=627\\u0026w=1200\",\"tiny\":\"https://images.pexels.com/photos/4046386/pexels-photo-4046386.png?auto=compress\\u0026cs=tinysrgb\\u0026dpr=1\\u0026fit=crop\\u0026h=200\\u0026w=280\"},\"liked\":false,\"alt\":\"Low Angle Shot of Man Sculpture\"},{\"id\":208701,\"width\":5196,\"height\":2923,\"url\":\"https://www.pexels.com/photo/orange-powerboat-between-medium-rise-buildings-208701/\",\"photographer\":\"Pixabay\",\"photographer_url\":\"https://www.pexels.com/@pixabay\",\"photographer_id\":2659,\"avg_color\":\"#8C8E88\",\"src\":{\"original\":\"https://images.pexels.com/photos/208701/pexels-photo-208701.jpeg\",\"large2x\":\"https://images.pexels.com/photos/208701/pexels-photo-208701.jpeg?auto=compress\[...]
