{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBF4Sy_5-aDmkF7nggkuhYmwF49JhhLdCk&part=snippet&q=italy",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"AMZF1rc_gvdY56OtrTKoLrlZM9o\",\n  \"nextPageToken\": \"CAUQAA\",\n  \"regionCode\": \"US\",\n  \"pageInfo\": {\n    \"totalResults\": 66,\n    \"resultsPerPage\": 5\n  },\n  \"items\": [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"xFIsZPGenJc5hO9kCKiAxq40yUs\",\n      \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"DD4wjwaFU-U\"\n      },\n      \"snippet\": {\n        \"publishedAt\": \"2021-05-07T03:20:53Z\",\n        \"channelId\": \"UCluQ5yInbeAkkeCndNnUhpw\",\n        \"title\": \"A Super Quick History of Italy\",\n        \"description\": \"Sources: \\\"A Brief History of Italy\\\" (2018) by Jeremy Black. Robinson Publishing, London. \\\"The Pursuit of Italy: A History of its ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/DD4wjwaFU-U/default.jpg\",\n            \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\": {\n            \"url\": \"https://i.ytimg.com/vi/DD4wjwaFU-U/mqdefault.jpg\",\n            \"width\": 320,\n            \"height\": 180\n          },\n          \"high\": {\n            \"url\": \"https://i.ytimg.com/vi/DD4wjwaFU-U/hqdefault.jpg\",\n            \"width\": 480,\n            \"height\": 360\n          }\n        },\n        \"channelTitle\": \"Mr History\",\n        \"liveBroadcastContent\": \"none\",\n        \"publishTime\": \"2021-05-07T03:20:53Z\"\n      }\n    },\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"PYsOMebSVzjO5cskUsJ4rzQXvTI\",\n      \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"PypS-ffoL-U\"\n      },\n      \"snippet\": {\n        \"publishedAt\": \"2023-04-26T11:58:34Z\",\n        \"channelId\": \"UCluQ5yInbeAkkeCndNnUhpw\",\n        \"title\": \"A Super Quick History of San Marino\",\n        \"description\": \"Pictures Requiring Attribution: Szede[...]
