{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.edamam.com/api/recipes/v2?app_id=2a9c71dd&app_key=ca36fc3b11517e52fa7799759eb28d4e&q=Guadeloupe&type=public",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Content-Language": [
            "en"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"from\":1,\"to\":9,\"count\":9,\"_links\":{},\"hits\":[{\"recipe\":{\"uri\":\"http://www.edamam.com/ontologies/edamam.owl#recipe_ed20f97954f0882ae14c1d3190801033\",\"label\":\"Ti' Punch - Martinique, Guadeloupe\",\"image\":\"https://edamam-product-images.s3.amazonaws.com/web-img/fee/fee599609de8ffbe8e63eace7379594a.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjELD%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIE3SZVPB2foNjAyjZcGHWX%2BPfqsfR2fZD9nhsyUXCKW4AiBZJQ9lNNgk19UYjRMB81qSQ31Elv0F1gIN7YSvDqtgPyq5BQhIEAAaDDE4NzAxNzE1MDk4NiIMm8h5cccQCWdEHkeDKpYFRKjxTPTlvG4wUbkwF7Bi0NeUDNL98wpuTxkRSKeWh2R6LpyD3f5ouDpjXxsMObjOAm0gzjI8XweVyTmZPkP41pYysgHbxa61MMdFw%2B49XxvDvi5c%2BcAkqv%2F8vIBwLvCW%2BHa85tSoEJ0c3v5o0CiWutxXuSqkOnr[...]
