{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=32bb02599ef24a81a63e14c5d60e6dc2&country=France&format=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"country\":\"France\",\"country_code\":\"fr\",\"lon\":1.8883335,\"lat\":46.603354,\"result_type\":\"country\",\"formatted\":\"France\",\"address_line1\":\"France\",\"address_line2\":\"\",\"category\":\"administrative\",\"timezone\":{\"name\":\"Europe/Paris\",\"offset_STD\":\"+01:00\",\"offset_STD_seconds\":3600,\"offset_DST\":\"+02:00\",\"offset_DST_seconds\":7200,\"abbreviation_STD\":\"CET\",\"abbreviation_DST\":\"CEST\"},\"plus_code\":\"8FR3JV3Q+88\",\"rank\":{\"importance\":1.0233264437396503,\"popularity\":5.325744118786215,\"confidence\":1,\"match_type\":\"match_by_country_or_state\"},\"place_id\":\"51390f27309d36fe3f5995f430b43a4d4740f00101f901329a210000000000c0020b\",\"bbox\":{\"lon1\":-178.3873749,\"lat1\":-50.2187169,\"lon2\":172.3057152,\"lat2\":51.3055721}}],\"query\":{\"text\":\"\",\"country\":\"France\",\"parsed\":{\"country\":\"France\",\"expected_type\":\"unknown\"}}}"
        }
      },
      "recorded_at": "Mon, 10 Jun 2024 15:56:09 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v2/places?apiKey=32bb02599ef24a81a63e14c5d60e6dc2&categories=tourism&filter=circle:1.8883335,46.603354,10000&format=json&limit=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"type\":\"FeatureCollection\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"name\":\"Château de Sarzay\",\"country\":\"France\",\"country_code\":\"fr\",\"region\":\"Metropolitan France\",\"state\":\"Centre-Val de Loire\",\"county\":\"Indre\",\"city\":\"Sarzay\",\"isolated_dwelling\":\"La Métairie\",\"municipality\":\"La Châtre\",\"postcode\":\"36230\",\"street\":\"D 41\",\"lon\":1.9064693850950118,\"lat\":46.6005083,\"state_code\":\"CVL\",\"state_COG\":\"24\",\"formatted\":\"Château de Sarzay, D 41, 36230 Sarzay, France\",\"address_line1\":\"Château de Sarzay\",\"address_line2\":\"D 41, 36230 Sarzay, France\",\"categories\":[\"building\",\"building.historic\",\"building.tourism\",\"fee\",\"heritage\",\"tourism\",\"tourism.attraction\",\"tourism.sights\",\"tourism.sights.castle\"],\"details\":[\"details\",\"details.building\",\"details.heritage\",\"details.historic\",\"details.wiki_and_media\"],\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\",\"raw\":{\"fee\":\"yes\",\"name\":\"Château de Sarzay\",\"height\":25,\"osm_id\":258316522,\"ref:mhs\":\"PA00097467\",\"tourism\":\"attraction\",\"website\":\"https://sarzay.net/\",\"building\":\"yes\",\"heritage\":2,\"historic\":\"castle\",\"osm_type\":\"w\",\"wikidata\":\"Q950709\",\"wikipedia\":\"fr:Château de Sarzay\",\"castle_type\":\"defensive\",\"building:part\":\"no\",\"heritage:operator\":\"mhs\",\"mhs:inscription_date\":\"1912-01-29\"}},\"website\":\"https://sarzay.net/\",\"ref_other\":{\"mhs\":\"PA00097467\"},\"wiki_and_media\":{\"wikidata\":\"Q950709\",\"wikipedia\":\"fr:Château de Sarzay\"},\"historic\":{\"type\":\"castle\",\"castle_type\":\"defensive\"},\"heritage\":{\"level\":2,\"operator\":\"mhs\",\"ref\":\"PA00097467\",\"inscription_date\":\"1912-01-29\"},\"building\":{\"height\":25},\"place_id\":\"51d6eebc0ae680fe3f59c040bb74dd4c4740f00102f901ea98650f000000009203124368c3a274656175206465205361727a6179\"},\"geometry\":{\"type\":\"Point\",\"coordinates\":[1.9064693850950127,46.60050830023965]}},{\"type\":\"Feature\",\"properties\":{\"name\":\"Château de Lys-Saint-Georges\",\"country\":\"France\",\"country_code\":\"fr\",\"region\":\"Metropolitan France\",\"state\":\"Centre-Val de Loire\",\"county\":\"Indre\",\"city\":\"Lys-Saint-Georges\",\"hamlet\":\"Le Carroir\",\"municipality\":\"La Châtre\",\"postcode\":\"36230\",\"street\":\"Rue du Château\",\"lon\":1.8230968277463209,\"lat\":46.641412349999996,\"state_code\":\"CVL\",\"state_COG\":\"24\",\"formatted\":\"Château de Lys-Saint-Georges, Rue du Château, 36230 Lys-Saint-Georges, France\",\"address_line1\":\"Château de Lys-Saint-Georges\",\"address_line2\":\"Rue du Château, 36230 Lys-Saint-Georges, France\",\"categories\":[\"building\",\"building.historic\",\"heritage\",\"tourism\",\"tourism.[...]
