{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=32bb02599ef24a81a63e14c5d60e6dc2&country=France&format=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"country\":\"France\",\"country_code\":\"fr\",\"lon\":1.8883335,\"lat\":46.603354,\"result_type\":\"country\",\"formatted\":\"France\",\"address_line1\":\"France\",\"address_line2\":\"\",\"category\":\"administrative\",\"timezone\":{\"name\":\"Europe/Paris\",\"offset_STD\":\"+01:00\",\"offset_STD_seconds\":3600,\"offset_DST\":\"+02:00\",\"offset_DST_seconds\":7200,\"abbreviation_STD\":\"CET\",\"abbreviation_DST\":\"CEST\"},\"plus_code\":\"8FR3JV3Q+88\",\"rank\":{\"importance\":1.0233264437396503,\"popularity\":5.325744118786215,\"confidence\":1,\"match_type\":\"match_by_country_or_state\"},\"place_id\":\"51390f27309d36fe3f5995f430b43a4d4740f00101f901329a210000000000c0020b\",\"bbox\":{\"lon1\":-178.3873749,\"lat1\":-50.2187169,\"lon2\":172.3057152,\"lat2\":51.3055721}}],\"query\":{\"text\":\"\",\"country\":\"France\",\"parsed\":{\"country\":\"France\",\"expected_type\":\"unknown\"}}}"
        }
      },
      "recorded_at": "Mon, 10 Jun 2024 15:38:47 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v2/places?apiKey=32bb02599ef24a81a63e14c5d60e6dc2&categories=tourism&filter=circle:46.603354,1.8883335,100000&format=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"type\":\"FeatureCollection\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"name\":\"Balad District\",\"country\":\"Somalia\",\"country_code\":\"so\",\"state\":\"Middle Shebelle\",\"county\":\"Balad District\",\"lon\":45.9123836,\"lat\":2.3598217,\"formatted\":\"Balad District, Somalia\",\"address_line1\":\"Balad District\",\"address_line2\":\"Somalia\",\"categories\":[\"tourism\",\"tourism.sights\"],\"details\":[],\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\",\"raw\":{\"osm_id\":4745982522,\"historic\":\"wreck\",\"osm_type\":\"n\",\"seamark:type\":\"wreck\"}},\"historic\":{\"type\":\"wreck\"},\"place_id\":\"5111b45dfcc8f4464059d47c0633eae00240f00103f9013af2e11a01000000\"},\"geometry\":{\"type\":\"Point\",\"coordinates\":[45.912383600000005,2.359821699748503]}}]}"
        }
      },
      "recorded_at": "Mon, 10 Jun 2024 15:38:48 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}