{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v2/places?apiKey=32bb02599ef24a81a63e14c5d60e6dc2&categories=tourism&filter=circle:2.3522,48.8566,10000&format=json&limit=10",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"type\":\"FeatureCollection\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"name\":\"Domaine national de Saint-Cloud\",\"country\":\"France\",\"country_code\":\"fr\",\"region\":\"Metropolitan France\",\"state\":\"Ile-de-France\",\"county\":\"Hauts-de-Seine\",\"city\":\"Saint-Cloud\",\"hamlet\":\"Les Bureaux de la Colline\",\"municipality\":\"Arrondissement of Nanterre\",\"postcode\":\"92210\",\"street\":\"Avenue de la Grille d'Honneur\",\"housenumber\":\"1\",\"lon\":2.1964653653893036,\"lat\":48.833749600000004,\"state_code\":\"IDF\",\"state_COG\":\"11\",\"formatted\":\"Domaine national de Saint-Cloud, 1 Avenue de la Grille d'Honneur, 92210 Saint-Cloud, France\",\"address_line1\":\"Domaine national de Saint-Cloud\",\"address_line2\":\"1 Avenue de la Grille d'Honneur, 92210 Saint-Cloud, France\",\"categories\":[\"heritage\",\"leisure\",\"leisure.park\",\"tourism\",\"tourism.attraction\"],\"details\":[\"details\",\"details.contact\",\"details.heritage\",\"details.wiki_and_media\"],\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\",\"raw\":{\"fax\":\"+33 1 47 71 38 20\",\"name\":\"Domaine national de Saint-Cloud\",\"email\":\"saint-cloud@monuments-nationaux.fr\",\"phone\":\"+33 1 41 12 02 90\",\"osm_id\":-10885726,\"leisure\":\"park\",\"ref:mhs\":\"PA00088141;IA92000284;PA00133026;PA00133025\",\"tourism\":\"attraction\",\"website\":\"https://www.domaine-saint-cloud.fr\",\"alt_name\":\"Parc de Saint-Cloud\",\"heritage\":2,\"operator\":\"mhs\",\"osm_type\":\"r\",\"wikidata\":\"Q2030715\",\"addr:city\":\"Saint-Cloud\",\"wikipedia\":\"fr:Domaine national de Saint-Cloud\",\"addr:street\":\"Avenue de la Grille d'Honneur\",\"description\":\"Ancienne demeure de Philippe d'Orléans, frère de Louis XIV, le domaine classé « Jardin remarquable »\",\"addr:postcode\":92210,\"official_name\":\"Domaine national de Saint-Cloud\",\"opening_hours\":\"Nov-Feb 07:30-19:50; May-Aug 07:30-21:50; Mar-Apr 07:30-20:50; Sep-Oct 07:30-20:50, PH\",\"addr:housenumber\":1}},\"website\":\"https://www.domaine-saint-cloud.fr\",\"opening_hours\":\"Nov-Feb 07:30-19:50; May-Aug 07:30-21:50; Mar-Apr 07:30-20:50; Sep-Oct 07:30-20:50, PH\",\"operator\":\"mhs\",\"description\":\"Ancienne demeure de Philippe d'Orléans, frère de Louis XIV, le domaine classé « Jardin remarquable »\",\"name_other\":{\"alt_name\":\"Parc de Saint-Cloud\",\"official_name\":\"Domaine national de Saint-Cloud\"},\"ref_other\":{\"mhs\":\"PA00088141;IA92000284;PA00133026;PA00133025\"},\"contact\":{\"phone\":\"+33 1 41 12 02 90\",\"email\":\"saint-cloud@monuments-nationaux.fr\",\"fax\":\"+33 1 47 71 38 20\"},\"wiki_and_media\":{\"wikidata\":\"Q2030715\",\"wikipedia\":\"fr:Domaine national de Saint-Cloud\"},\"heritage\":{\"level\":2,\"ref\":\"PA00088141;IA92000284;PA00133026;PA00133025\"},\"place_id\":\"516726f96e5c9201405952f48f4eb86a4840f00101f9015e1aa6000000000092031f446f6d61696e65206e6174696f6e616c206465205361696e742d436c6f7564\"},\"geometry\":{\"type\":\"Point\",\"coordinates\":[2.196465365389304,48.833749599733565]}},{\"type\":\"Feature\",\"properties\":{\"name\":\"Jardin des Plantes\",\"country\":\"France\",\"country_code\":\"fr\",\"region\":\"Metropolitan France\",\"state\":\"Ile-de-France\",\"city\":\"Paris\",\"postcode\":\"75005\",\"district\":\"Paris\",\"suburb\":\"Paris\",\"lon\":2.3595089570948424,\"lat\":48.8432224,\"state_code\":\"IDF\",\"state_COG\":\"11\",\"formatted\":\"Jardin des Plantes, 75005 Paris, France\",\"address_line1\":\"Jardin des Plantes\",\"address_line2\":\"75005 Paris, France\",\"categories\":[\"heritage\",\"leisure\",\"leisure.park\",\"tourism\",\"tourism.attraction\",\"wheelchair\",\"wheelchair.limited\"],\"details\":[\"details\",\"details.contact\",\"details.facilities\",\"details.heritage\",\"details.wiki_and_media\"],\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\",\"raw\":{\"fax\":\"+33140795448\",\"name\":\"Jardin des Plantes\",\"email\":\"valhuber@mnhn.fr\",\"phone\":\"+33 1 40 79 56 01;+33 1 40 79 54 79\",\"osm_id\":4221369,\"bicycle\":\"no\",\"leisure\":\"park\",\"ref:mhs\":\"PA00088482\",\"tourism\":\"attraction\",\"website\":\"https://www.jardindesplantesdeparis.fr/fr\",\"heritage\":2,\"operator\":\"Muséum National d'Histoire Naturelle\",\"osm_type\":\"w\",\"wikidata\":\"Q730948\",\"wikipedia\":\"fr:Jardin des plantes de Paris\",\"wheelchair\":\"limited\",\"opening_hours\":\"07:30-20:00\",\"tourism:visitors\":2000000,\"heritage:operator\":\"mhs\",\"mhs:inscription_date\":\"1993-03-24\"}},\"website\":\"https://www.jardindesplantesdeparis.fr/fr\",\"opening_hours\":\"07:30-20:00\",\"operator\":\"Muséum National d'Histoire Naturelle\",\"ref_other\":{\"mhs\":\"PA00088482\"},\"contact\":{\"phone\":\"+33 1 40 79 56 01;+33 1 40 79 54 79\",\"email\":\"valhuber@mnhn.fr\",\"fax\":\"+33140795448\"},\"facilities\":{\"wheelchair\":true,\"wheelchair_details\":{\"condition\":\"limited\"}},\"wiki_and_media\":{\"wikidata\":\"Q730948\",\"wikipedia\":\"fr:Jardin des plantes de Paris\"},\"heritage\":{\"level\":2,\"operator\":\"mhs\",\"ref\":\"PA00088482\",\"inscription_date\":\"1993-03-24\"},\"place_id\":\"512abb6a3b46e0024059d30c2bb6ee6b4840f00102f901b9694000000000009203124a617264696e2064657320506c616e746573\"},\"geometry\":{\"type\":\"Point\",\"coordinates\":[2.359508957094836,48.84322239973121]}},{\"type\":\"Feature\",\"properties\":{\"name\":\"Collège des Bernardins\",\"country\":\"France\",\"country_code\":\"fr\",\"region\":\"Metropolitan France\",\"state\":\"Ile-de-France\",\"city\":\"Paris\",\"postcode\":\"75005\",\"district\":\"Paris\",\"suburb\":\"5th Arrondissement\",\"city_block\":\"Quartier Saint-Victor\",\"street\":\"Rue de Poissy\",\"housenumber\":\"20\",\"lon\":2.3519828978158808,\"lat\":48.84883415,\"state_code\":\"IDF\",\"state_COG\":\"11\",\"formatted\":\"Collège des Bernardins, 20 Rue de Poissy, 75005 Paris, France\",\"address_line1\":\"Collège des Bernardins\",\"address_line2\":\"20 Rue de Poissy, 75005 Paris, France\",\"categories\":[\"building\",\"building.entertainment\",\"building.historic\",\"building.tourism\",\"entertainment\",\"entertainment.culture\",\"entertainment.culture.arts_centre\",\"tourism\",\"tourism.attraction\",\"tourism.sights\"],\"details\":[\"details\",\"details.contact\",\"details.wiki_and_media\"],\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\",\"raw\":{\"name\":\"Collège des Bernardins\",\"email\":\"accueil@collegedesbernardins.fr\",\"phone\":\"+33 1 53 10 74 44\",\"osm_id\":26584053,\"amenity\":\"arts_centre\",\"tourism\":\"attraction\",\"website\":\"https://www.collegedesbernardins.fr/\",\"building\":\"yes\",\"historic\":\"building\",\"osm_type\":\"w\",\"wikidata\":\"Q960165\",\"addr:city\":\"Paris\",\"addr:street\":\"Rue de Poissy\",\"addr:postcode\":75005,\"opening_hours\":\"Mo-sa 10:00-18:00; Su 14:00-18:00\",\"addr:housenumber\":20}},\"website\":\"https://www.collegedesbernardins.fr/\",\"opening_hours\":\"Mo-sa 10:00-18:00; Su 14:00-18:00\",\"contact\":{\"phone\":\"+33 1 53 10 74 44\",\"email\":\"accueil@collegedesbernardins.fr\"},\"wiki_and_media\":{\"wikidata\":\"Q960165\"},\"historic\":{\"type\":\"buildin[...]
