{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.geoapify.com/v1/geocode/search?apiKey=32bb02599ef24a81a63e14c5d60e6dc2&country=France&format=json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Api-Version": [
            "1.0"
          ],
          "Content-Disposition": [
            "inline; filename=response.json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"results\":[{\"datasource\":{\"sourcename\":\"openstreetmap\",\"attribution\":\"© OpenStreetMap contributors\",\"license\":\"Open Database License\",\"url\":\"https://www.openstreetmap.org/copyright\"},\"country\":\"France\",\"country_code\":\"fr\",\"lon\":1.8883335,\"lat\":46.603354,\"result_type\":\"country\",\"formatted\":\"France\",\"address_line1\":\"France\",\"address_line2\":\"\",\"category\":\"administrative\",\"timezone\":{\"name\":\"Europe/Paris\",\"offset_STD\":\"+01:00\",\"offset_STD_seconds\":3600,\"offset_DST\":\"+02:00\",\"offset_DST_seconds\":7200,\"abbreviation_STD\":\"CET\",\"abbreviation_DST\":\"CEST\"},\"plus_code\":\"8FR3JV3Q+88\",\"rank\":{\"importance\":1.0233264437396503,\"popularity\":5.325744118786215,\"confidence\":1,\"match_type\":\"match_by_country_or_state\"},\"place_id\":\"51390f27309d36fe3f5995f430b43a4d4740f00101f901329a210000000000c0020b\",\"bbox\":{\"lon1\":-178.3873749,\"lat1\":-50.2187169,\"lon2\":172.3057152,\"lat2\":51.3055721}}],\"query\":{\"text\":\"\",\"country\":\"France\",\"parsed\":{\"country\":\"France\",\"expected_type\":\"unknown\"}}}"
        }
      },
      "recorded_at": "Mon, 10 Jun 2024 16:35:38 GMT"
    }
  ],
  "recorded_with": "VCR 6.2.0"
}